body {
	background: #aae5a4;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tagbutton {
	width: 15%;
	border: 10px solid white;
	border-radius: 5%;
}

.tag {
	width: 15%;
	text-align: center;
}

.tagcontainer {
	display: flex;
	justify-content: space-evenly;
}

.hidden {
	display: none;
}

.correct {
	border: 10px solid green;
}

.wrong {
	border: 10px solid red;
}

.equal {
	border: 10px solid yellow;
}
